@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  /* какой здесь лучше размер указывать? */
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background: #f2f2f2;


  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

/* Pages */

.navigation {
  display: flex;
  position: relative;
  padding-left: 238px;
  padding-right: 54px;
  margin: 0 auto;
  /* ширина нужна здесь? */

}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 450px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.navigation-user {
  /* margin-left: auto; */
  margin: 0 0 0 auto;
  padding: 0;
  max-width: 330px;
  list-style-type: none;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.navigation-item {
  padding: 18px 16px 20px;
}

.navigation-user-item {
  padding: 14px 16px 14px;
}

.navigation-link {
  display: block;
  /* верхняя строчка нужна? */
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  /* background-color: #ffffff; зачем указывать background-color? у нас же в body указан уже background - смысла нет и убрать background-color */
  text-decoration: none;
  text-transform: capitalize;
}

.button-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 8px 34px;
}

.page-container {
  width: 1200px;
  background: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.logo-link {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  position: absolute;
  left: 70px;
  top: 0;
  /* размер надо указывать? */
}
/* в любых селекторах нужно будет написать только особенности начертания*/


.page-header {
  color: #000000;
}

.advantages {
  padding-top: 68px;

  /* Это не нужно
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; */
  /* Здесь надо паддинг или нужны margin для текста? */
}

.social-list-footer,
.breadcrumbs-item,
.filter-catalog-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}







.subscription {

}




.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hero {
  background-color: #4b4646;
  /* определить цвет пипеткой */
  background-image: url("../images/divider.svg"), url("../images/hero-background.jpeg");
/* а размеры для бэкграунда где указывать?
images/divider.svg*/
  background-position: center bottom, center;
  color: #000000;
  background-size: auto auto, cover;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 79px;
}

.advantages-container-image {
  height: 100%;
  width: 800px;
  overflow: hidden;
}

.advantages-image {
  height: 100%;
  width: auto;
}

.advantages-header {
  padding: 0;
  margin: 0 auto;
  width: 670px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  padding: 0;
  margin: 25px auto 90px;
  /* margin: верх лево-право низ; */
  width: 670px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
}

.advantages-container {
  width: 400px;
  margin: 0 auto;
  padding-top: 103px;
  padding-bottom: 10px;
  /* Временная зарезервированная высота */
  min-height: 384px;
  box-sizing: border-box;
}

.advantages-item-darkblue .advantages-container{
  padding-top: 92px;
}

.assortment-container {
  width: 400px;
  margin: 0;
  /* padding-top: 92px; */
}

.advantages-title {
  width: 172px;
  margin: 0 auto 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-darkblue .advantages-description {
  width: 240px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
/* Что нужно делать с размерами картинок? */

.advantages-item-mediumblue .advantages-description {
  width: 240px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin: 0 auto;
}

.advantages-item-lightblue .advantages-description {
  width: 240px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin: 0 auto;
}




.search-hotel {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.question {
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.subscription-call-catalog {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.search-hotel-text {
  text-align: center;
  width: 650px;
  margin: 0 auto 54px;
}

.subscription-description-catalog {
  text-align: center;
}

.advantages-item-darkblue {
  background: #82B3D3;
  color: #ffffff;
}

.advantages-item-lightblue,
.assortment-item-lightblue {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-mediumblue {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.assortment-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}


.assortment-title {
  width: 172px;
  margin: 182px auto 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.assortment-item {
  display: flex;
  /* Временная зарезервированная высота */
  height: 384px;
}


.assortment-title-nobg{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  width: 172px;
  margin: 182px auto 30px;
}



.assortment-description {
  width: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin: 0 auto;
}

.filter {

  background-image: url("../images/catalog/filter-background.jpeg");
  background-color: #333333;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto 57px;
  padding-bottom: 32px;
}

.filter-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  padding: 35px 70px 0;
}

.breadcrumbs {
  display: flex;
  justify-content: start;
  gap: 10px;
  padding: 4px 70px 41px;
  margin: 0;
}

.filter-catalog-products {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.subscription {
  width: 1200px;
  height: 415px;
  background-image: url(../images/subscribe-background.jpeg);
 /* почему не работает картинка? */
  color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border: 1px solid #000000;
  background-position: top center;
  text-align: center;
}
.subscription-call {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 95px auto 20px;
}

.subscription-description {
  color: #ffffff;
  text-align: center;
  width: 500px;
  margin: 0 auto 55px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-form-email {
  width: 452px;
  height: 52px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  border: none;
}

.subscription-form-email::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 20px;
}

.page-footer {

}

.social-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
}

.social-footer {
  max-width: 150px;
  padding-top: 10px;
}


.footer-logo {
  padding-top: 6px;
}

.social-list-footer {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 142px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.footer-phone {
  text-align: center;
  padding-top: 4px;
}
.contacts-phone{
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff; /*зачем указывать background-color? у нас же в body указан уже background*/
  text-decoration: none;
  text-transform: capitalize;
}



.button-link-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 7px 50px 9px;
  max-width: 600px;
}

/* Каталог */

.filter-catalog-group {
  display: flex;
  width: 150px;
}

.filter-catalog-group-infrastructure  {
  display: flex;
  width: 150px;
}

.product-list {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  flex-wrap: wrap;
}

.product-card {
  width: 340px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.filter-catalog {
  display: flex;
}

.filter-results {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  /* padding: 16px; */
}

.filter-catalog-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  /* background-color: #000000; надо? */
}



.control {
  font-weight: 400; /* лучше копировать */
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.product {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* здесь должны быть стили для галочек и для радиокнопок */

.subscription-button {
  background: #82B3D3;
  width: 232px;
  height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 0px 4px 4px 0px;
  margin: 0;
  padding: 0;
}

.button-reset {
  height: 36px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
  border: none;
}

/* .subscription-button - проверить класс!!!
border-radius: ; что здесь должно быть? 0px 4px 4px 0px; ? Почему это не срабатывает?*/

.search-results {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  background: #ffffff; /*это надо или как?*/
  text-align: left;
  text-transform: uppercase;
  width: 400px;

  margin: 0;
}

.sorting-container {
  display: flex;
  margin-bottom: 40px;
  color: #333333;
  background-color: #d11b1b;

  /*
    width: 292px;
    margin: 0;
    padding: 0 20px;
    height: 49px; */

}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: left;
}

/* .select-control {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-left: auto;
  margin-bottom: 16px;

} */

/* Кнопки сортировки */
.sorting-container .button-sorting {
  width: 48px;
  height: 48px;
}

/* Нумерация страниц поиска */
.pagination-section {
  width: 1060px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding-top: 12px;
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

/* Текущий номер страницы */
.pagination-clear {
  background-color: transparent;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/* Точки */
.pagination-disabled {
  color: #000000;
  background-color: #ffffff;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: left;
}

.product-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: left;
}

.price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
}

.raiting {
  background: #F2F2F2;
  border-radius: 4px;
}

.product-card-button {
  background: #756157;
  border-radius: 4px;
  align-items: center;
}

.product-card-button-favorite,
.button {
  background: #82B3D3;
  border-radius: 4px;
  border: none;
}

.product-card-button-selected {
  background: #7DB54F;
  buttonborder-radius: 4px;
}

.product-card-button-favorite,
.product-card-button,
.product-card-button-selected,
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

/*надо повторять font-style?*/
/*что значит схловываются внешние вертикальные отступы?
.item {
  margin-bottom: 20px;
}

.item:last-child {
  margin-bottom: 0;
}

или

.item:not(:last-child) {
  margin-bottom: 20px;
}
*/

/*а чтобы убрать отступы у картинок
.product-image {
  display: block
}

*/

/*
панели инструментов разработчика - это только чтобы посмотреть как будет если что-то изменить или прямо меняет сам код?
*/

/*псевдокласс - для чего он нужен - поискать в документах академии*/
