@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  /* какой здесь лучше размер указывать? */
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background: #f2f2f2;


  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

/* Pages */

.navigation {
  display: flex;
  position: relative;
  padding-left: 238px;
  padding-right: 70px;
  margin: 0 auto;
  /* ширина нужна здесь? */

}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 450px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.navigation-user-item--button {
  padding-top: 14px;
  margin-left: 22px;
}



.navigation-user {
  /* margin-left: auto; */
  margin: 0 0 0 auto;
  /* padding: 0; */
  max-width: 330px;
  list-style-type: none;
  display: flex;
  /* justify-content: start; */
  flex-wrap: wrap;
}

.navigation-item {
  padding: 20px 16px 20px;
}

.navigation-link {
  display: block;
  position: relative;
  /* верхняя строчка нужна? */
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  /* background-color: #ffffff; зачем указывать background-color? у нас же в body указан уже background - смысла нет и убрать background-color */
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-current::before {
  position: absolute;
  right: 0;
  bottom: -21px;
  left: 0px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user-item {
  /* padding: 14px 16px 14px; */
}

.navigation-user-link {
  display: block;
  position: relative;
  /* верхняя строчка нужна? */
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  /* background-color: #ffffff; зачем указывать background-color? у нас же в body указан уже background - смысла нет и убрать background-color */
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.button-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 8px 34px;
}

.page-container {
  width: 1200px;
  background: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.logo-link {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  position: absolute;
  left: 70px;
  top: 0;
  /* размер надо указывать? */
}
/* в любых селекторах нужно будет написать только особенности начертания*/


.page-header {
  color: #000000;
}

.advantages {
  padding-top: 68px;

  /* Это не нужно
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; */
  /* Здесь надо паддинг или нужны margin для текста? */
}

.social-list-footer,
.breadcrumbs-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}







.subscription {

}




.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hero {
  background-color: #4b4646;
  /* определить цвет пипеткой */
  background-image: url("../images/divider.svg"), url("../images/hero-background.jpeg");
/* а размеры для бэкграунда где указывать?
images/divider.svg*/
  background-position: center bottom, center;
  color: #000000;
  background-size: auto auto, cover;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 78px;
}

.advantages-container-image {
  height: 100%;
  width: 800px;
  overflow: hidden;
}

.advantages-image {
  height: 100%;
  width: auto;
  display: block;
}

.advantages-header {
  padding: 0;
  margin: 0 auto 25px;
  width: 670px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  padding: 0;
  margin: 0 auto 91px;
  /* margin: верх лево-право низ; */
  width: 670px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
}

.advantages-container {
  width: 400px;
  margin: 0 auto;
  padding-top: 103px;
  padding-bottom: 121px;
  /* Временная зарезервированная высота */
  min-height: 384px;
  box-sizing: border-box;
}

.advantages-item-darkblue .advantages-container{
  padding-top: 92px;
  padding-bottom: 111px;
}

.assortment-container {
  width: 400px;
  margin: 0;
  padding-top: 182px;
  padding-bottom: 81px;
}

.advantages-title {
  position: relative;
  width: 172px;
  margin: 0 auto 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title::before {
  position: absolute;
  bottom: -32px;
  left: 65px;
  width: 60px;
  height: 2px;
  margin-left: -9px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-title-light {
  position: relative;
  width: 172px;
  margin: 0 auto 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title-light::before {
  position: absolute;
  bottom: -32px;
  left: 65px;
  width: 60px;
  height: 2px;
  margin-left: -9px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-item-darkblue .advantages-description {
  width: 240px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
/* Что нужно делать с размерами картинок? */

.advantages-item-mediumblue .advantages-description {
  width: 240px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin: 0 auto;
}

.advantages-item-lightblue .advantages-description {
  width: 240px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin: 0 auto;
}

.advantages-item-darkblue {
  background: #82B3D3;
  color: #ffffff;
}

.advantages-item-lightblue,
.assortment-item-lightblue {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-mediumblue {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.assortment-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}


.assortment-title {
  position: relative;
  width: 172px;
  margin: 0 auto 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.assortment-title-nobg{
  position: relative;
  width: 172px;
  margin: 0 auto 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.assortment-title--house::before {
  position: absolute;
  bottom: 53px;
  left: 58px;
  margin-left: -9px;
  content: url(../images/advantages/adv-house.svg);
}

.assortment-title--food::before {
  position: absolute;
  bottom: 54px;
  left: 58px;
  margin-left: -9px;
  content: url(../images/advantages/adv-food.svg);
}

.assortment-title--gift::before {
  position: absolute;
  bottom: 51px;
  left: 63px;
  margin-left: -9px;
  content: url(../images/advantages/adv-gift.svg);
}

.assortment-item {
  display: flex;
  /* Временная зарезервированная высота */
  min-height: 384px;
}






.assortment-description {
  width: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin: 0 auto;
}

.search-hotel {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.question {
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.subscription-call-catalog {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.search-hotel-text {
  text-align: center;
  width: 650px;
  margin: 0 auto 54px;
}

.subscription-description-catalog {
  text-align: center;
}



.filter {
  background-image: url("../images/catalog/filter-background.jpeg");
  background-color: #333333;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding-bottom: 70px;
}

.filter-header {
  padding: 35px 70px 0;
}

.filter-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
}

.breadcrumbs {
  display: flex;
  justify-content: start;
  gap: 10px;
  padding: 0;
  padding-bottom: 39px;
  margin: 0;
}

.filter-catalog-products {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.filter-catalog-list {
  padding: 0;
  margin: 0;
}

.subscription {
  width: 1200px;
  min-height: 415px;
  background-image: url(../images/subscribe-background.jpeg);
 /* почему не работает картинка? */
  color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* border: 1px solid #000000; */
  background-position: top center;
  text-align: center;
  padding: 95px 0 104px;
  box-sizing: border-box;
}
.subscription-call {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0 auto 20px;
}

.subscription-description {
  color: #ffffff;
  text-align: center;
  width: 500px;
  margin: 0 auto 56px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-form-email {
  width: 452px;
  height: 52px;
  font-family: 'PT Sans','Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.subscription-form-email::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 20px;
}

.page-footer {

}

.social-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 46px 70px 30px 81px;
}

.footer-social {
  max-width: 170px;
  padding-top: 5px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-around;
  /* align-content: center; */
}

.footer-social-item {
  margin-right: 26px;
}

/* .footer-social-item:nth-child(3n) {
  margin-right: 0;
} */

.footer-social-link {
  display: block;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}


.footer-social-link--youtube {
  margin-top: 2px;
  margin-left: 1px;
}

.social-svg {
  fill: #83B3D3;
}

.footer-social-link:hover .social-svg {
  fill: #68a2ca;
}

.footer-social-link:focus .social-svg {
  fill: #68a2ca;
}

.footer-social-link:active .social-svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  text-align: center;
  padding-right: 13px;
  width: 720px;
}

.contacts-phone{
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff; /*зачем указывать background-color? у нас же в body указан уже background*/
  text-decoration: none;
  text-transform: capitalize;
}

.footer-logo {
  padding-top: 2px;
}

.button-link-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 7px 50px 9px;
  max-width: 600px;
}

/* Каталог */

.filter-catalog {
  display: flex;
}

.filter-catalog-item {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style-type: none;
}

.filter-catalog-item:last-child {
  margin-bottom: 0;
}

.filter-catalog-group--infrastructure  {
  display: flex;
  width: 150px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.filter-catalog-group--type {
  display: flex;
  width: 151px;
  margin: 0;
  margin-right: 140px;
  padding: 0;
  border: none;
}

.catalog-filter-group--price {
  display: flex;
  width: 288px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}



/* Title */
.filter-catalog-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: left;
  color: #ffffff;
  padding: 0;
  margin-bottom: 32px;
}

/* Range */
.range-scale {
  position: relative;
  height: 4px;
  width: 287px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  margin-top: 44px;
}

.range-bar {
  position: absolute;
  height: 4px;
  width: 207px;
  left: 10px;
  top: -4px;
  border-top: 4px solid #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -12px;
  left: -10px;
}

.toggle-max {
  top: -12px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.range-input {
  width: 142px;
  height: 48px;
  padding: 2px 0 0 20px;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  box-sizing: border-box;
  line-height: 24px;
  text-align: left;
  background-color: #f2f2f2;
  border: none;
  appearance: textfield;
}

.catalog-filter-label {
  display: flex;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* margin-right: 2px; */
}

.range-input--from {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label--from {
  position: absolute;
  left: 107px;
  top: 13px;

}

.range-input--to {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-label--to {
  position: absolute;
  right: 19px;
  top: 13px;
}

/*
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
} */


/* .range-toggle:hover {
  background-color: #dbb590;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #dbb590;
} */

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
}

/* Mark's conditions */
.control:hover .control-mark {
  background: #ffffff;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark::before{
  position: absolute;
  top: 4px;
  left: 4px;
  width: 11px;
  height: 6px;
  border-bottom: 2px solid #3f5e72;
  border-left: 2px solid #3f5e72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(-45deg);
}



/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}






.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  /* background-color: #000000; надо? */
}

.navigation-user-link--search {
  background: url("../images/search.svg") no-repeat center center;
  padding: 22px 12px;
  width: 18px;
  height: 18px;
  display: block;
}

.navigation-user-link--favorite {
  background: url("../images/heart.svg") no-repeat center center;
  padding: 22px 12px;
  width: 18px;
  height: 17px;
  display: block;
  position: relative;
}

.favorite-number {
  position: absolute;
  right: 3px;
  top: 11px;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7db54f;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  box-sizing: border-box;
  padding: 0 3px;
}

.control {
  font-weight: 400; /* лучше копировать */
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}



/* здесь должны быть стили для галочек и для радиокнопок */

.subscription-button {
  background: #82B3D3;
  font-family: 'PT Sans','Arial', sans-serif;
  width: 232px;
  height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 0 4px 4px 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
}

.button-brown:disabled {
  background-color: #e5e5e5;
}

.button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
  /* outline: none;
  cursor: default; */
}

/* .button:disabled:hover {
  background-color: #595959;
  outline: none;
  cursor: default;
} */

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  background-color: #68a2ca;
}

.button-blue:disabled {
  background-color: #e5e5e5;
}

.button-blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
  /* outline: none;
  cursor: default; */
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:focus {
  background-color: #6c9e42;
}

.button-green:disabled {
  background-color: #e5e5e5;
}

.button-green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
  /* outline: none;
  cursor: default; */
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-transparent:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  color: #ffffff;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:disabled {
  color: rgba(255, 255, 255, 0.1);
  cursor: default;
}

/* .button-transparent:disabled:hover {
  outline: none;
  cursor: default;
} */

.buttons {
  display: flex;
  flex-direction: column;
  width: 191px;
  margin: 0;
  padding: 0;
  border: none;
}

.button-reset {
  width: 191px;
  height: 36px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  background: none;
  border: none;
  margin: 0;
  padding: 8px 0;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.button-submit {
  width: 191px;
  height: 36px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
  margin-top: 56px;
  margin-bottom: 32px;
  padding: 8px 0;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

/* .subscription-button - проверить класс!!!
border-radius: ; что здесь должно быть? 0px 4px 4px 0px; ? Почему это не срабатывает?*/


/* Результаты поиска */
.filter-results {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 38px;
}

/* p */
.search-results {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  background: #ffffff; /*это надо или как?*/
  text-align: left;
  text-transform: uppercase;
  width: 400px;
  margin: 0;
  padding-top: 7px;
}

/* Сортировка */
.sorting-container {
  display: flex;
  margin-left: auto;
  /* margin-bottom: 16px; */
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 292px;
  margin-right: 70px;
}

/* Control */
.select-control {
  width: 100%;
  padding: 12px 18px;
  padding-right: 48px;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: left;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
}
.select-control {

}

/*
.select-control:hover,
.select-control:focus {
  border-color: #af7842;
}

.select-control:focus {
  outline: 2px solid #dbb590;
} */


/* .sorting-type {
  /* margin-right: auto; */
  /* display: flex;
  /* margin-bottom: 40px; */
  /* color: #333333;
  background-color: #d11b1b; */
  /*
    width: 292px;
    margin: 0;
    padding: 0 20px;
    height: 49px; */


.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

.card-grid-toggle:hover {
  outline: 2px solid #000000;
  border-radius: 4px;
}


.card-grid-toggle:focus {
  outline: 2px solid #68a2ca;
  border-radius: 4px;
}

.card-grid-toggle:active {
  outline: 2px solid #000000;
  border-radius: 4px;
}

.card-grid-toggle + .card-grid-toggle {
  margin-left: 8px;
}

.card-grid-toggle svg {
  fill: #000000;
}

.card-grid-toggle-current {
  background-color: #ffffff;
  outline: 2px solid #000000;
  border-radius: 4px;
  margin-left: 0;
}

.card-grid-toggle-current svg {
  fill: #000000;
}

.sorting-container .button-sorting {
  width: 48px;
  height: 48px;
  /* outline: 2px solid #ff6347;
  outline-offset: -5px; */
}

/* Кнопки сортировки */
.button-sorting {
  display: inline-block;
  box-sizing: border-box;
  padding: 17px 16px;
  width: 48px;
  height: 48px;
  font-family: inherit;
  font-size: 16px;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: solid 2px #000000;
  border-radius: 4px;
  cursor: pointer;
}



/* .select-control {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-left: auto;
  margin-bottom: 16px;

} */





/* Нумерация страниц поиска */
.pagination-section {
  width: 1060px;
  margin: 39px auto 60px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 12px 18px 0;
  background: #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

/* Текущий номер страницы */
.pagination-clear {
  background-color: transparent;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding-top: 11px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}

/* Точки */
.pagination-disabled {
  color: #000000;
  background-color: #ffffff;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding-top: 12px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68a2ca;
  border-radius: 4px;
}

.pagination-link:focus {
  background-color: #68a2ca;
  border-radius: 4px;
}

/* .button-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
} */

/* Карточки отелей-продуктов */
.product {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px 20px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}



/* .product-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;
} */

.product-card {
  background-color: #ffffff;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 21px 20px 20px 19px;
}

.product-card-content {
  display: grid;
  grid-template-columns: 140px  140px;
  gap: 16px 20px;
}


/* .product-card {
  width: 340px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  background-color: #ffffff;
} */

.product-card:nth-child(3n) {
  margin-right: 0;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: left;
  list-style-type: none;
  grid-column: 1 / -1;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.product-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: left;
  margin: 0;
}

.product-card-image-link {
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}

.product-card-image {
  display: block;
}


.product-card-button {
  background: #756157;
  border-radius: 4px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 0;
}

.product-card-button-favorite {
  background: #82B3D3;
  border-radius: 4px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 0;
}

.product-card-button-selected {
  background: #7DB54F;
  border-radius: 4px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 0;
}

.raiting {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
  grid-column: 2 / -1;
  margin: 0;
  padding: 8px 0;
  text-align: center;
}

/* .button {
  background: #82B3D3;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
} */

/* .product-card-button-favorite {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
} */



.price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
  margin: 0;
}



/*надо повторять font-style?*/
/*что значит схловываются внешние вертикальные отступы?
.item {
  margin-bottom: 20px;
}

.item:last-child {
  margin-bottom: 0;
}

или

.item:not(:last-child) {
  margin-bottom: 20px;
}
*/

/*а чтобы убрать отступы у картинок
.product-image {
  display: block
}

*/

/*
панели инструментов разработчика - это только чтобы посмотреть как будет если что-то изменить или прямо меняет сам код?
*/

/*псевдокласс - для чего он нужен - поискать в документах академии*/
